@use './breakpoints'  as breakpoint;
.abouts{
    
    .abouts-img{
        width: 100%;
        height: auto;
        .hero-image{
            width: 100%;
            height: 100%;
        }
    }
    .provide-box{
        background-color: #F9F2DE;
        border-radius: 10px;
        text-align: center;
        height: auto;
        width: 100%;
        min-height: 360px;
        .provide-box-img{
            height: 130px;
            .provide-box-img-icon{
                height: 110px;
                 margin: auto;
            }
        }
        .text-about{
            font-weight: 300;
            color: #000;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 20px;
        }
    }
}